.friends{
   height:calc(100vh-62px);

    display:flex;
    background-color: #f0f2f5;
}

.left{
    flex:2.5;
    height:100%
   
}
.middle{
    flex:7;
    padding:20px;
    height:100%;
    overflow-y: auto;
    
    

}

.right{
    flex:2.5;
    height:100%;
    
}

.friendswrapper{
    
    background-color: white;
    border-radius: 10px;
   
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37); 
box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);

}

.top{
    padding:20px;
    display:flex;
}

.friendsSearchbar{
    
    height:5vh;
    width:45%;
    background-color:#f0f2f5 ;
    border-radius: 40px;
    display:flex;
    align-items: center;
    padding-left:1.25vh;
    
    
    
    
    
}

.inputclass{

    border: none;
    background-color:#f0f2f5  ;
    width:90%;

}
.inputclass:focus{
    outline:none;
}

.searchIcon{
    font-size: 20px !important;
}

.redirect{
   
    margin-left: auto;
    display:flex;
    align-items: center;
}

.topbutton{
    
    background-color: white !important;
    color:#3588f4 !important;
    font-weight: 10px !important;
}

.bottom{
   
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    justify-content: space-around;
   

}

.navlink{
    font-size:2vh!important;
}


@media screen and (max-width: 1000px) {
    .left{
        display:none;
    }
    .right{
        display:none;
    }

    .friends{
        height:calc(100vh - 97.2px);
    }
    
    
  }

  .friendsInputclass{
    border: none;
    background-color:#f0f2f5  ;
    width:70%;
    font-size: 2.5vh;
  }

  .friendsInputclass:focus{
    outline:none;
}
